// banner section
.banner {
  background: url("../images/banner-bg.png");

  @include mobile {
    .row {
      padding: 60px 0;
    }
    .btn-splitter {
      display: none;
    }
  }
}
// btn wrapper
.banner-btn {
  margin-top: 127px;
  margin-bottom: 160px;
  width: calc(110 / 1296 * 4 * 100%);

  transition: 0.3s;

  &:hover {
    transform: translateY(-16px);
  }

  @include mobile {
    display: flex;
    align-items: center;

    margin: 0;
    width: 100%;

    &:hover {
      transform: none;
    }
  }
}
// semi circle in btn
.semi-circle {
  z-index: -99;

  margin: 0 auto;
  width: 120px;
  height: 60px;

  border-radius: 0 0 120px 120px;

  @include mobile {
    flex-shrink: 0;

    margin: 0;
    width: 38px;
    height: 80px;
    border-radius: 0 80px 80px 0;
  }
}
//btn content box
.banner-btn-content {
  position: relative;
  padding: 0 24px;
  width: auto;

  background: white;
  border: 2px solid $grey-300;

  text-align: center;

  cursor: pointer;

  @include mobile {
    padding: 24px 0 24px 24px;
    width: 100%;

    text-align: left;
    @include bd-md;
  }
}

.btn-highlight {
  position: absolute;
  top: -48px;
  right: -32px;

  display: none;

  animation: popOut 0.3s ease forwards;
  @include mobile {
    top: -24px;
    left: -20px;

    animation: popOut-mb 0.3s ease forwards;
  }
}
//btn text and img
.btn-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: -36px;

  .btn-title {
    line-height: normal;
  }
  .btn-logo-sm {
    display: none;
  }
  .btn-subtitle {
    display: inline-block;

    margin-bottom: 24px;

    color: $grey-500;
  }
  .btn-logo {
    margin-bottom: 16px;
    padding: 12px;

    border: 3px solid $grey-400;
    border-radius: 50%;

    img {
      display: block;

      width: 100px;
      height: 100px;

      border-radius: 50%;
    }
  }
  p {
    margin-bottom: 24px;

    @include line-h-lg;
  }
  .btn-toggle {
    margin-bottom: -45px;
  }

  @include mobile {
    flex-direction: row;
    justify-content: space-between;

    margin-top: 0;

    .btn-title {
      display: flex;
      align-items: center;

      margin-bottom: 8px;
    }
    .btn-logo-sm {
      display: inline-block;

      padding: 4px;
      margin-right: 8px;

      border: 2px solid $grey-400;
      border-radius: 50%;

      img {
        display: block;

        width: 36px;
        height: 36px;

        border-radius: 50%;
      }
    }
    .btn-subtitle {
      margin-left: 4px;
      margin-bottom: 0;
    }
    // seperate from here by div or mobile layout will crash
    .btn-logo {
      display: none;
    }
    p {
      display: none;
    }
    .btn-toggle {
      margin-right: -28px;

      margin-bottom: 0;
    }
  }
}

.btn-splitter {
  text-align: center;
  font-size: 72px;
}

// btn costomize by page
.banner-rocket {
  .semi-circle {
    background-color: $primary-1-200;
  }
  @include mobile {
    margin-bottom: 46px;

    .btn-toggle {
      content: url("../images/banner-btn-rocket-sm.svg");
    }
  }
}

.banner-space {
  .semi-circle {
    background-color: $primary-2-200;
  }
  @include mobile {
    .btn-toggle {
      content: url("../images/banner-btn-coworking-sm.svg");
    }
  }
}

// two version for different device
@keyframes popOut {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes popOut-mb {
  0% {
    transform: translateY(50%) scaleX(-0.75) scaleY(0.75);
  }
  100% {
    transform: translateY(0) scaleX(-0.75) scaleY(0.75);
  }
}
