// 圓角相關
.bd-ex {
  border-radius: 50px;
}
.bd-xl {
  border-radius: 40px;
}
.bd-lg {
  border-radius: 24px;
}
.bd-md {
  border-radius: 16px;
}
.bd-sm {
  border-radius: 12px;
}
// 圓角 mixin
@mixin bd-ex {
  border-radius: 50px;
}
@mixin bd-xl {
  border-radius: 40px;
}
@mixin bd-lg {
  border-radius: 24px;
}
@mixin bd-md {
  border-radius: 16px;
}
@mixin bd-sm {
  border-radius: 12px;
}
@mixin bd-xs {
  border-radius: 8px;
}

// flex 相關
.center {
  justify-content: center;
  align-items: center;
}

// 文字相關
.text-highlight {
  box-shadow: inset 0 -0.875em $accent-1;
}
.bold {
  font-weight: 700;
}
h1 {
  font-size: 48px;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 32px;
  font-weight: 700;
}
h4 {
  font-size: 28px;
  font-weight: 700;
}
.font-ex {
  font-size: 48px;
  font-weight: 700;
}
.font-lg {
  font-size: 24px;
}
.font-md {
  font-size: 20px;
}

@media screen and (max-width: 428px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  .font-ex {
    font-size: 32px;
  }
  .font-lg {
    font-size: 20px;
  }
  .font-md {
    font-size: 18px;
  }
}

// 行高
@mixin line-h-lg {
  line-height: 1.75;
}
@mixin line-h-md {
  line-height: 1.5;
}
