// cart items
.cart {
  .row {
    flex-direction: column;
  }

  @include lg {
    .container {
      margin-top: 40px;
    }

    .row {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  padding: 30px;

  @include lg {
    gap: 20px;

    padding: 40px 0;

    .cart-item-card:last-child {
      border: none;
    }
  }
}

.cart-item-card {
  width: 315px;
  border-bottom: 1px solid $secondary;

  @include lg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    width: 100%;
    padding-bottom: 20px;
  }
}

.cart-item-info {
  display: flex;
  justify-content: center;
  gap: 16px;

  padding-bottom: 8px;
  border-bottom: 1px solid $secondary;

  img {
    width: 157px;
    height: 106px;

    object-fit: cover;
  }

  .cart-item-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: 300;
    white-space: nowrap;
  }

  @include lg {
    gap: 40px;

    padding: 0;
    border: none;

    .cart-item-detail {
      flex-direction: row;
      align-items: center;
      gap: 40px;
    }

    img {
      width: 110px;
      height: 110px;
    }
  }
}

.cart-item-title {
  font-size: 20px;
}

.cart-item-quantity {
  display: flex;

  cursor: pointer;

  li {
    @include center;
    flex-grow: 1;

    width: 48px;
    height: 48px;
    border: 1px solid $secondary;
  }

  li:nth-child(-n + 2) {
    border-right: none;
  }

  @include lg {
    align-items: center;

    border: none;
  }
}

.cart-item-delete {
  display: none;

  @include lg {
    display: block;

    color: $primary;

    cursor: pointer;
  }
}

.cart-item-total {
  padding: 8px 0;

  font-size: 20px;
  font-weight: 500;
  text-align: right;
  white-space: nowrap;
}

.cart-summary {
  ul {
    margin: 0 auto;
    max-width: 315px;
  }

  h2 {
    margin-bottom: 16px;
  }

  li {
    display: flex;
    justify-content: space-between;

    margin-bottom: 8px;

    font-weight: 300;
  }

  li:last-child {
    margin: 16px 0;

    font-size: 20px;
    font-weight: 500;
  }

  @include lg {
    ul {
      padding: 0 30px;

      color: $secondary;
    }
    h2 {
      border-bottom: 1px solid $secondary;
      background-color: $primary;
    }

    form {
      background-color: $primary;
    }
  }
}
