.root-product {
  .product-card:nth-child(1) {
    .product-image {
      background-image: url("https://images.unsplash.com/photo-1490474504059-bf2db5ab2348?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0cad6d3de8adbdf6298d4ca5d094f8c6&auto=format&fit=crop&w=800&q=60");
    }
  }
  .product-card:nth-child(2) {
    .product-image {
      background-image: url("https://images.unsplash.com/photo-1514517220017-8ce97a34a7b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c376ffa487bcd258df29dc881b10703&auto=format&fit=crop&w=700&q=60");
    }
  }
  .product-card:nth-child(3) {
    .product-image {
      background-image: url("https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d2452cace2ee90c9781c7a39c9a30cf&auto=format&fit=crop&w=800&q=60");
    }
  }
  .product-card:nth-child(4) {
    .product-image {
      background-image: url("https://images.unsplash.com/photo-1474045326708-cdc78c2487cb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6b25bcab557acc2d93446512e117f1be&auto=format&fit=crop&w=800&q=60");
    }
  }
  .product-card:nth-child(5) {
    .product-image {
      background-image: url("https://images.unsplash.com/photo-1525203135335-74d272fc8d9c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=61b27d2cefd0dd094b5439f897b43bb7&auto=format&fit=crop&w=700&q=60");
    }
  }
  .product-card:nth-child(6) {
    .product-image {
      background-image: url("https://images.unsplash.com/photo-1499635842761-4f1f28fafcff?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d6d0e5a1d7e9cd7a3cc81626125a8ed&auto=format&fit=crop&w=800&q=60");
    }
  }

  .product-card:nth-child(n + 4) {
    display: none;
  }

  @include lg {
    .product-card:nth-child(n + 4) {
      display: block;
    }
  }
}

.header-product {
  .container {
    display: flex;
    justify-content: flex-end;

    padding: 30px;

    background-image: url("https://images.unsplash.com/photo-1512484457149-266d165a4eca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=786581a33fd6c9343735655439ce2e5a&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: right;
  }

  img {
    width: 60px;
  }

  @include lg {
    margin-bottom: 60px;

    .container {
      padding: 40px 40px 128px 40px;
    }

    img {
      width: 90px;
    }
  }
}

.product-display {
  .row {
    display: block;
  }
  @include lg {
    .row {
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
    }
  }
}

.product-category-list {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  line-height: 2rem;

  div {
    padding: 16px 0;
    color: white;
    background-color: $primary;

    color: white;
  }

  li {
    padding: 16px 0;

    border: 1px solid $secondary;
    border-top: none;

    cursor: pointer;

    transition: 0.3s;

    &:hover {
      background-color: $secondary;
    }
  }
}
