.success {
  .container {
    @include center;
    flex-direction: column;

    height: 520px;

    background-image: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2c5a2cf31c693f5c15fb08135bf1adf2&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;

    .btn-yellow {
      display: none;
    }

    @include lg {
      margin-bottom: 60px;
      height: 460px;

      .btn-yellow {
        display: flex;

        margin-top: 52px;
      }
    }
  }

  @include lg {
    a {
      display: none;
    }
  }
}

.success-hint {
  h2 {
    color: $primary;
    font-size: 48px;
    font-weight: 900;

    font-family: serif;
  }
}

.success-progress {
  position: relative;

  display: flex;

  align-items: center;
  gap: 65px;

  padding: 32px 0;

  li {
    position: relative;

    color: $primary;
    font-size: 20px;
  }

  li:nth-child(-n + 2)::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 18px;

    width: 70px;
    height: 1px;
    background: $primary;
  }
}
