<link rel="stylesheet" href="../../dist/all.css" />
<section class="bg-[#301E5F] pt-[60px] pb-20 ">
    <div class="max-w-[1110px] mx-auto">
      <h2 class="text-center text-[28px] leading-[38px] text-white mb-8">好評推薦</h2>
      <div class="recommendation_wall cursor-grab">
        <ul class="flex gap-[30px] ml-[95px] mb-5 w-full [&>li]:bg-white">
          <li class="flex min-w-[350px]">
            <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/cXcOLhu.png" alt="photo-1" class="mr-4">
            <div class="flex flex-col justify-center">
              <div class="flex mb-2">
                <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/I9L7WOr.png" alt="Ellipse-1" class="mr-2 h-[40px]">
                <div class="">
                  <p>王六角</p>
                  <h3 class="text-[#6A33F8] text-sm">Jodan 雙人床架</h3>
                </div>
              </div>
              <p>CP值很高。</p>
            </div>
          </li>
          <li class="flex min-w-[350px]">
            <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/oJb4G1d.png" alt="photo-2" class="mr-4">
            <div class="flex flex-col justify-center">
              <div class="flex mb-2">
                <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/CUFGfay.png" alt="Ellipse-2" class="mr-2 h-[40px]">
                <div class="">
                  <p>Leaf</p>
                  <h3 class="text-[#6A33F8] text-sm">Antony 雙人床架</h3>
                </div>
              </div>
              <p>很喜歡～還有送三年保固～</p>
            </div>
          </li>
          <li class="flex min-w-[350px]">
            <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/cTy59CE.png" alt="photo-1" class="mr-4">
            <div class="flex flex-col justify-center">
              <div class="flex mb-2">
                <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/8WwZsLS.png" alt="Ellipse-3" class="mr-2 h-[40px]">
                <div class="">
                  <p>美濃鄧子琪</p>
                  <h3 class="text-[#6A33F8] text-sm">Charles 系列儲物組合</h3>
                </div>
              </div>
              <p>廚房必備美用品！</p>
            </div>
          </li>
          <li class="flex min-w-[350px]">
            <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/cTy59CE.png" alt="photo-1" class="mr-4">
            <div class="flex flex-col justify-center">
              <div class="flex mb-2">
                <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/8WwZsLS.png" alt="Ellipse-3" class="mr-2 h-[40px]">
                <div class="">
                  <p>美濃鄧子琪</p>
                  <h3 class="text-[#6A33F8] text-sm">Charles 系列儲物組合</h3>
                </div>
              </div>
              <p>廚房必備美用品！</p>
            </div>
          </li>
          <li class="flex min-w-[350px]">
            <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/cTy59CE.png" alt="photo-1" class="mr-4">
            <div class="flex flex-col justify-center">
              <div class="flex mb-2">
                <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/8WwZsLS.png" alt="Ellipse-3" class="mr-2 h-[40px]">
                <div class="">
                  <p>美濃鄧子琪</p>
                  <h3 class="text-[#6A33F8] text-sm">Charles 系列儲物組合</h3>
                </div>
              </div>
              <p>廚房必備美用品！</p>
            </div>
          </li>
        </ul>
        <ul class="flex gap-[30px] w-full [&>li]:bg-white">
          <li class="flex min-w-[350px]">
            <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/oJb4G1d.png" alt="photo-1" class="mr-4">
            <div class="flex flex-col justify-center">
              <div class="flex mb-2">
                <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/W7fyzp2.png" alt="Ellipse-1" class="mr-2 h-[40px]">
                <div class="">
                  <p>小杰</p>
                  <h3 class="text-[#6A33F8] text-sm">Louvre 雙人床架</h3>
                </div>
              </div>
              <p>非常舒適，有需要會再回購</p>
            </div>
          </li>
          <li class="flex min-w-[350px]">
            <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/kwIRna8.png" alt="photo-1" class="mr-4">
            <div class="flex flex-col justify-center">
              <div class="flex mb-2">
                <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/8O1cOnG.png" alt="Ellipse-1" class="mr-2 h-[40px]">
                <div class="">
                  <p>江八角</p>
                  <h3 class="text-[#6A33F8] text-sm">Charles 雙人床架</h3>
                </div>
              </div>
              <p>品質不錯～</p>
            </div>
          </li>
          <li class="flex min-w-[350px]">
            <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/npA3DgP.png" alt="photo-1" class="mr-4">
            <div class="flex flex-col justify-center">
              <div class="flex mb-2">
                <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/C0NDvSA.png" alt="Ellipse-1" class="mr-2 h-[40px]">
                <div class="">
                  <p>juni讚神</p>
                  <h3 class="text-[#6A33F8] text-sm">Antony 床邊桌</h3>
                </div>
              </div>
              <p>讚ㄉ！</p>
            </div>
          </li>
          <li class="flex min-w-[350px]">
            <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/kwIRna8.png" alt="photo-1" class="mr-4">
            <div class="flex flex-col justify-center">
              <div class="flex mb-2">
                <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/8O1cOnG.png" alt="Ellipse-1" class="mr-2 h-[40px]">
                <div class="">
                  <p>江八角</p>
                  <h3 class="text-[#6A33F8] text-sm">Charles 雙人床架</h3>
                </div>
              </div>
              <p>品質不錯～</p>
            </div>
          </li>
          <li class="flex min-w-[350px]">
            <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/npA3DgP.png" alt="photo-1" class="mr-4">
            <div class="flex flex-col justify-center">
              <div class="flex mb-2">
                <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/C0NDvSA.png" alt="Ellipse-1" class="mr-2 h-[40px]">
                <div class="">
                  <p>juni讚神</p>
                  <h3 class="text-[#6A33F8] text-sm">Antony 床邊桌</h3>
                </div>
              </div>
              <p>讚ㄉ！</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
</section>