<link rel="stylesheet" href="../../dist/all.css" />
<section class="pt-8 pb-[72px]">
    <h2 class="text-center text-[28px] leading-[38px] mb-8">運送方式</h2>
    <ul class="flex justify-center gap-[90px]">
      <li class="transport-card flex flex-col items-center relative">
        <div class="w-[115px] h-[115px] border-[3px] border-black rounded-[50%] flex justify-center items-center mb-2">
          <i class="fa-solid fa-cart-shopping text-[50px]"></i>
        </div>
        <h4 class="text-xl">STEP.1</h4>
        <p>選購商品</p>
      </li>
      <li class="transport-card flex flex-col items-center relative">
        <div class="w-[115px] h-[115px] border-[3px] border-black rounded-[50%] flex justify-center items-center mb-2">
          <i class="fa-solid fa-list-ul text-[50px]"></i>
        </div>
        <h4 class="text-xl">STEP.2</h4>
        <p>填寫預定資料</p>
      </li>
      <li class="transport-card flex flex-col items-center relative">
        <div class="w-[115px] h-[115px] border-[3px] border-black rounded-[50%] flex justify-center items-center mb-2">
          <i class="fa-solid fa-check text-[50px]"></i>
        </div>
        <h4 class="text-xl">STEP.3</h4>
        <p>預定成功</p>
      </li>
      <li class="flex flex-col items-center">
        <div class="w-[115px] h-[115px] border-[3px] border-black rounded-[50%] flex justify-center items-center mb-2">
          <i class="fa-solid fa-envelope text-[50px]"></i>
        </div>
        <h4 class="text-xl">STEP.4</h4>
        <p>Email 付款資訊</p>
      </li>
    </ul>
</section>