// 火箭隊配色
$primary-1-100: #e5ebff;
$primary-1-200: #bfc9f0;
$primary-1-300: #a6b6f1;
$primary-1-400: #7f94e2;
$accent-1: #ffeea3;

// 共同空間配色
$primary-2-100: #f5f1ff;
$primary-2-200: #eee5ff;
$primary-2-300: #cab2f1;
$primary-2-400: #b28fea;
$accent-2: #ffd887;

// 灰階
$grey-100: #f8f9fd;
$grey-200: #f0f0f0;
$grey-300: #e0e0e0;
$grey-400: #cdcdcd;
$grey-500: #9a9a9a;
$grey-600: #757575;
$grey-700: #363636;
