// grid colums and width
$container-width: 1296px;
$container-width-mb: 332px;
$gutter: 24px;
$gutter-mb: 20px;
$total-columns: 12;
$total-columns-mb: 4;

// generate classes of colunm width
@for $i from 1 through 12 {
  $total-gutter: $gutter * ($total-columns - 1);
  $gutter-width: $gutter * ($i - 1);

  .col-#{$i} {
    width: calc((100% - #{$total-gutter}) / 12 * #{$i} + #{$gutter-width});
  }
}

@for $i from 1 through 4 {
  $total-gutter: $gutter-mb * ($total-columns-mb - 1);
  $gutter-width: $gutter-mb * ($i - 1);

  .col-#{$i}-mb {
    @media screen and (max-width: 428px) {
      width: calc((100% - #{$total-gutter}) / 4 * #{$i} + #{$gutter-width});
    }
  }
}

// container and row setting
.container {
  margin: 0 auto;
  max-width: $container-width;
}

@media screen and (max-width: 428px) {
  .container {
    max-width: $container-width-mb;
  }
  .row {
    flex-direction: column;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
