nav {
  position: sticky;
  top: 0;
  z-index: 99;

  display: flex;

  padding: 20px 0;

  background: white;
  white-space: nowrap;
  overflow-x: hidden;

  ul {
    position: relative;
    display: flex;

    animation: slide 10s linear infinite;
    span {
      margin: 0 16px;
    }
  }
}

// slide animation;
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
