// 載入外部字體
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Noto+Sans+TC:wght@400;700&display=swap");

// 全局樣式
*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;

  color: $grey-700;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
  font-size: 16px;

  letter-spacing: 0.02em;
  @include line-h-md;
}

a {
  color: $grey-700;
  &:visited {
    color: $grey-700;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  li {
    margin-left: 1.5em;
    text-indent: -1.25em;
  }
  li::marker {
    font-family: "Noto Sans TC", sans-serif;
  }
}

// text

h1 {
  font-size: 48px;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 32px;
  font-weight: 700;
}
h4 {
  font-size: 28px;
  font-weight: 700;
}

.fz-lg {
  font-size: 24px;
}

.fz-md {
  font-size: 20px;
}

@media screen and (max-width: 428px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  .fz-lg {
    font-size: 20px;
  }
  .fz-md {
    font-size: 18px;
  }
}
