$gutter: 20px;

.container {
  margin: 0 auto;

  max-width: 100%;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

@media (min-width: 1024px) {
  .container {
    max-width: 940px;
  }

  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      width: calc((940px - $gutter * 11) / 12 * $i + ($i - 1) * $gutter);
    }
  }
}
