<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link rel="stylesheet" href="../../dist/all.css" />
<section class="pt-4 pb-6 xl:pt-12 xl:pb-16 bg-[#F8F8F8]">
  <div
    class="box mx-auto grid grid-cols-4 xl:grid-cols-12 gap-x-6 xl:gap-x-[30px] px-3 md:px-8 xl:px-0"
  >
    <h2 class="col-span-4 xl:col-start-5 text-[28px] text-center">家具比較</h2>
    <ul
      class="col-span-4 xl:col-span-8 xl:col-start-3 mt-5 text-center whitespace-nowrap"
    >
      <li
        class="grid grid-cols-4 xl:grid-cols-8 gap-x-6 xl:gap-x-[30px] py-3 border-b border-[#B9B9B9]"
      >
        <p
          class="col-span-1 xl:col-span-2 col-start-2 xl:col-start-3 text-xs md:text-base xl:text-xl font-bold"
        >
          <span class="md:hidden">窩窩家具</span>
          <span class="hidden md:inline-block">窩窩系統模組家具</span>
        </p>
        <p
          class="col-span-1 xl:col-span-2 col-start-3 xl:col-start-5 text-[#797979] text-xs md:text-base xl:text-xl"
        >
          組合式家具
        </p>
        <p
          class="col-span-1 xl:col-span-2 col-start-4 xl:col-start-7 text-[#797979] text-xs md:text-base xl:text-xl"
        >
          實木家具
        </p>
      </li>
      <li
        class="grid grid-cols-4 xl:grid-cols-8 gap-x-6 xl:gap-x-[30px] py-3 border-b border-[#B9B9B9]"
      >
        <p
          class="col-span-1 xl:col-span-2 col-start-1 text-xs md:text-base xl:text-xl"
        >
          可單人自行組裝
        </p>
        <span
          class="material-symbols-outlined col-span-1 xl:col-span-2 col-start-2 xl:col-start-3 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
        <p
          class="col-span-1 xl:col-span-2 col-start-3 xl:col-start-5 text-[#797979] text-xs md:text-base xl:text-xl"
        >
          不一定
        </p>
      </li>
      <li
        class="grid grid-cols-4 xl:grid-cols-8 gap-x-6 xl:gap-x-[30px] py-3 border-b border-[#B9B9B9]"
      >
        <p
          class="col-span-1 xl:col-span-2 col-start-1 text-xs md:text-base xl:text-xl"
        >
          可多次重複拆裝
        </p>
        <span
          class="material-symbols-outlined col-span-1 xl:col-span-2 col-start-2 xl:col-start-3 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
      </li>
      <li
        class="grid grid-cols-4 xl:grid-cols-8 gap-x-6 xl:gap-x-[30px] py-3 border-b border-[#B9B9B9]"
      >
        <p
          class="col-span-1 xl:col-span-2 col-start-1 text-xs md:text-base xl:text-xl"
        >
          床墊規格彈性大
        </p>
        <span
          class="material-symbols-outlined col-span-1 xl:col-span-2 col-start-2 xl:col-start-3 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
        <p
          class="col-span-1 xl:col-span-2 col-start-3 xl:col-start-5 text-[#797979] text-xs md:text-base xl:text-xl"
        >
          不一定
        </p>
        <p
          class="col-span-1 xl:col-span-2 col-start-4 xl:col-start-7 text-[#797979] text-xs md:text-base xl:text-xl"
        >
          不一定
        </p>
      </li>
      <li
        class="grid grid-cols-4 xl:grid-cols-8 gap-x-6 xl:gap-x-[30px] py-3 border-b border-[#B9B9B9]"
      >
        <p
          class="col-span-1 xl:col-span-2 col-start-1 text-xs md:text-base xl:text-xl"
        >
          材質可長久使用
        </p>
        <span
          class="material-symbols-outlined col-span-1 xl:col-span-2 col-start-2 xl:col-start-3 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
        <span
          class="material-symbols-outlined col-span-1 xl:col-span-2 col-start-4 xl:col-start-7 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
      </li>
      <li
        class="grid grid-cols-4 xl:grid-cols-8 gap-x-6 xl:gap-x-[30px] py-3 border-b border-[#B9B9B9]"
      >
        <p
          class="col-span-1 xl:col-span-2 col-start-1 text-xs md:text-base xl:text-xl"
        >
          小客車即可搬運
        </p>
        <span
          class="material-symbols-outlined col-span-1 xl:col-span-2 col-start-2 xl:col-start-3 text-secondary text-4xl leading-[0.75]"
        >
          done
        </span>
      </li>
    </ul>
  </div>
</section>
