<link rel="stylesheet" href="../../dist/all.css" />
<!-- navbar -->
<nav
  class="sticky top-0 z-50 shadow-md xl:shadow-none xl:border-b-[40px] border-black bg-white"
>
  <div class="box mx-auto px-3 md:px-8 xl:px-0">
    <div
      class="flex flex-col md:flex-row justify-between items-center py-6 xl:py-9"
    >
      <a href="#"><h1 class="text-lg xl:text-2xl font-bold">WOWOROOM</h1></a>
      <ul
        class="flex gap-4 md:gap-6 xl:gap-12 mt-4 md:m-0 text-sm xl:text-base"
      >
        <li><a href="#">床墊優勢</a></li>
        <li><a href="#">好評推薦</a></li>
        <li><a href="#">運送方式</a></li>
        <li><a href="#">立即預訂</a></li>
      </ul>
    </div>
  </div>
</nav>
