<link rel="stylesheet" href="../../dist/all.css" />
<section class="pb-[60px]">
    <div class="max-w-[1110px] mx-auto">
      <div class="grid grid-cols-12 gap-x-[30px]">
        <select class="productSelect col-span-3  h-[38px] border border-[#CED4DA] text-[#818A91] mb-8 pl-3">
          <option value="全部">全部</option>
          <option value="床架">床架</option>
          <option value="收納">收納</option>
          <option value="窗簾">窗簾</option>
        </select>
        <div class="col-span-12">
          <ul class="productList grid grid-cols-12 gap-x-[30px] gap-y-7">
            <!-- <li class="col-span-3 relative">
              <div class="bg-black text-white text-xl w-[88px] py-2 text-center absolute top-3 -right-1">新品</div>
              <img src="https://raw.githubusercontent.com/hexschool/js-training/c5ec4418eeffa111eb4c0f5352c5190643294d92/%E7%AC%AC%E4%B9%9D%E9%80%B1%E4%B8%BB%E7%B7%9A%E4%BB%BB%E5%8B%99%E5%9C%96%E5%BA%AB/JlGUkjl.png" alt="" class="w-full h-[302px]">
              <button type="button" class="bg-black text-white w-full text-center py-2">加入購物車</button>
              <h3 class="text-xl mb-2">Antony 雙人床架／雙人加大</h3>
              <span class="text-xl line-through">NT$18,000</span>
              <p class="text-[28px]">NT$12,000</p>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </section>