<link rel="stylesheet" href="../../dist/all.css" />
<section
  class="sm:max-w-[525px] xl:max-w-[1110px] mx-auto pt-[60px] pb-20 flex flex-col"
>
  <h2 class="text-[28px] mb-8 text-center">填寫預定資料</h2>
  <!-- grid container -->
  <div class="grid grid-cols-6 xl:grid-cols-12 xl:gap-x-[30px]">
    <label class="col-span-4 col-start-2 xl:col-start-5 text-base mb-1.5"
      >姓名</label
    >
    <input
      type="text"
      name=""
      id="customerName"
      placeholder="請輸入姓名"
      class="col-span-4 col-start-2 xl:col-start-5 border border-[#CED4DA] rounded-[4px] pl-3 h-[38px]"
    />
    <!-- required field hint -->
    <span class="text-[#C72424] flex items-center ml-2 xl:ml-[-22px]"
      >必填！</span
    >
    <label
      class="xl:col-span-4 col-start-2 xl:col-start-5 text-base mt-5 mb-1.5"
      >電話</label
    >
    <input
      type="tel"
      name=""
      id="phone"
      placeholder="請輸入電話"
      class="col-span-4 col-start-2 xl:col-start-5 border border-[#CED4DA] rounded-[4px] pl-3 h-[38px]"
    />
    <label class="col-span-4 col-start-2 xl:col-start-5 text-base mt-5 mb-1.5"
      >Email</label
    >
    <input
      type="email"
      name=""
      id="email"
      placeholder="請輸入 Email"
      class="col-span-4 col-start-2 xl:col-start-5 border border-[#CED4DA] rounded-[4px] pl-3 h-[38px]"
    />
    <label class="col-span-4 col-start-2 xl:col-start-5 text-base mt-5 mb-1.5"
      >寄送地址</label
    >
    <input
      type="text"
      name=""
      id="address"
      placeholder="請輸入寄送地址"
      class="col-span-4 col-start-2 xl:col-start-5 border border-[#CED4DA] rounded-[4px] pl-3 h-[38px]"
    />
    <label class="col-span-4 col-start-2 xl:col-start-5 text-base mt-5 mb-1.5"
      >交易方式</label
    >
    <select
      name=""
      id="paymentMethod"
      class="col-span-4 col-start-2 xl:col-start-5 border border-[#CED4DA] rounded-[4px] pl-3 h-[38px]"
    >
      <option value="ATM" selected>ATM</option>
      <option value="信用卡">信用卡</option>
      <option value="超商付款">超商付款</option>
    </select>
  </div>
  <div class="mx-auto mt-12">
    <button
      type="submit"
      class="w-[250px] sm:w-[255px] h-12 rounded-[4px] bg-black text-white hover:bg-primary text-center disabled:bg-gray-400"
      id="submitBtn"
      disabled
    >
      送出預定資料
    </button>
  </div>
</section>
