/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Noto+Sans+TC:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bd-ex {
  border-radius: 50px;
}

.bd-xl {
  border-radius: 40px;
}

.bd-lg {
  border-radius: 24px;
}

.bd-md {
  border-radius: 16px;
}

.bd-sm {
  border-radius: 12px;
}

.center {
  justify-content: center;
  align-items: center;
}

.text-highlight {
  box-shadow: inset 0 -0.875em #ffeea3;
}

.bold {
  font-weight: 700;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  font-weight: 700;
}

.font-ex {
  font-size: 48px;
  font-weight: 700;
}

.font-lg {
  font-size: 24px;
}

.font-md {
  font-size: 20px;
}

@media screen and (max-width: 428px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  .font-ex {
    font-size: 32px;
  }
  .font-lg {
    font-size: 20px;
  }
  .font-md {
    font-size: 18px;
  }
}
.col-1 {
  width: calc((100% - 264px) / 12 * 1 + 0px);
}

.col-2 {
  width: calc((100% - 264px) / 12 * 2 + 24px);
}

.col-3 {
  width: calc((100% - 264px) / 12 * 3 + 48px);
}

.col-4 {
  width: calc((100% - 264px) / 12 * 4 + 72px);
}

.col-5 {
  width: calc((100% - 264px) / 12 * 5 + 96px);
}

.col-6 {
  width: calc((100% - 264px) / 12 * 6 + 120px);
}

.col-7 {
  width: calc((100% - 264px) / 12 * 7 + 144px);
}

.col-8 {
  width: calc((100% - 264px) / 12 * 8 + 168px);
}

.col-9 {
  width: calc((100% - 264px) / 12 * 9 + 192px);
}

.col-10 {
  width: calc((100% - 264px) / 12 * 10 + 216px);
}

.col-11 {
  width: calc((100% - 264px) / 12 * 11 + 240px);
}

.col-12 {
  width: calc((100% - 264px) / 12 * 12 + 264px);
}

@media screen and (max-width: 428px) {
  .col-1-mb {
    width: calc((100% - 60px) / 4 * 1 + 0px);
  }
}

@media screen and (max-width: 428px) {
  .col-2-mb {
    width: calc((100% - 60px) / 4 * 2 + 20px);
  }
}

@media screen and (max-width: 428px) {
  .col-3-mb {
    width: calc((100% - 60px) / 4 * 3 + 40px);
  }
}

@media screen and (max-width: 428px) {
  .col-4-mb {
    width: calc((100% - 60px) / 4 * 4 + 60px);
  }
}

.container {
  margin: 0 auto;
  max-width: 1296px;
}

@media screen and (max-width: 428px) {
  .container {
    max-width: 332px;
  }
  .row {
    flex-direction: column;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  color: #363636;
  font-family: "Josefin Sans", "Noto Sans TC", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

a {
  color: #363636;
}
a:visited {
  color: #363636;
}

img {
  max-width: 100%;
  height: auto;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}
ol li {
  margin-left: 1.5em;
  text-indent: -1.25em;
}
ol li::marker {
  font-family: "Noto Sans TC", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  font-weight: 700;
}

.fz-lg {
  font-size: 24px;
}

.fz-md {
  font-size: 20px;
}

@media screen and (max-width: 428px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  .fz-lg {
    font-size: 20px;
  }
  .fz-md {
    font-size: 18px;
  }
}
nav {
  position: sticky;
  top: 0;
  z-index: 99;
  display: flex;
  padding: 20px 0;
  background: white;
  white-space: nowrap;
  overflow-x: hidden;
}
nav ul {
  position: relative;
  display: flex;
  animation: slide 10s linear infinite;
}
nav ul span {
  margin: 0 16px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.banner {
  background: url("../images/banner-bg.png");
}
@media screen and (max-width: 428px) {
  .banner .row {
    padding: 60px 0;
  }
  .banner .btn-splitter {
    display: none;
  }
}

.banner-btn {
  margin-top: 127px;
  margin-bottom: 160px;
  width: 33.950617284%;
  transition: 0.3s;
}
.banner-btn:hover {
  transform: translateY(-16px);
}
@media screen and (max-width: 428px) {
  .banner-btn {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .banner-btn:hover {
    transform: none;
  }
}

.semi-circle {
  z-index: -99;
  margin: 0 auto;
  width: 120px;
  height: 60px;
  border-radius: 0 0 120px 120px;
}
@media screen and (max-width: 428px) {
  .semi-circle {
    flex-shrink: 0;
    margin: 0;
    width: 38px;
    height: 80px;
    border-radius: 0 80px 80px 0;
  }
}

.banner-btn-content {
  position: relative;
  padding: 0 24px;
  width: auto;
  background: white;
  border: 2px solid #e0e0e0;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 428px) {
  .banner-btn-content {
    padding: 24px 0 24px 24px;
    width: 100%;
    text-align: left;
    border-radius: 16px;
  }
}

.btn-highlight {
  position: absolute;
  top: -48px;
  right: -32px;
  display: none;
  animation: popOut 0.3s ease forwards;
}
@media screen and (max-width: 428px) {
  .btn-highlight {
    top: -24px;
    left: -20px;
    animation: popOut-mb 0.3s ease forwards;
  }
}

.btn-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -36px;
}
.btn-info .btn-title {
  line-height: normal;
}
.btn-info .btn-logo-sm {
  display: none;
}
.btn-info .btn-subtitle {
  display: inline-block;
  margin-bottom: 24px;
  color: #9a9a9a;
}
.btn-info .btn-logo {
  margin-bottom: 16px;
  padding: 12px;
  border: 3px solid #cdcdcd;
  border-radius: 50%;
}
.btn-info .btn-logo img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.btn-info p {
  margin-bottom: 24px;
  line-height: 1.75;
}
.btn-info .btn-toggle {
  margin-bottom: -45px;
}
@media screen and (max-width: 428px) {
  .btn-info {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }
  .btn-info .btn-title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .btn-info .btn-logo-sm {
    display: inline-block;
    padding: 4px;
    margin-right: 8px;
    border: 2px solid #cdcdcd;
    border-radius: 50%;
  }
  .btn-info .btn-logo-sm img {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
  .btn-info .btn-subtitle {
    margin-left: 4px;
    margin-bottom: 0;
  }
  .btn-info .btn-logo {
    display: none;
  }
  .btn-info p {
    display: none;
  }
  .btn-info .btn-toggle {
    margin-right: -28px;
    margin-bottom: 0;
  }
}

.btn-splitter {
  text-align: center;
  font-size: 72px;
}

.banner-rocket .semi-circle {
  background-color: #bfc9f0;
}
@media screen and (max-width: 428px) {
  .banner-rocket {
    margin-bottom: 46px;
  }
  .banner-rocket .btn-toggle {
    content: url("../images/banner-btn-rocket-sm.svg");
  }
}

.banner-space .semi-circle {
  background-color: #eee5ff;
}
@media screen and (max-width: 428px) {
  .banner-space .btn-toggle {
    content: url("../images/banner-btn-coworking-sm.svg");
  }
}

@keyframes popOut {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes popOut-mb {
  0% {
    transform: translateY(50%) scaleX(-0.75) scaleY(0.75);
  }
  100% {
    transform: translateY(0) scaleX(-0.75) scaleY(0.75);
  }
}
.about {
  padding: 60px 72px;
}
.about .row {
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 428px) {
  .about {
    display: flex;
    justify-content: center;
    padding: 36px 0px;
    border-radius: 24px;
  }
  .about .row {
    justify-content: flex-start;
    max-width: 332px;
  }
}

.about-text h1 {
  margin-bottom: 40px;
}
@media screen and (max-width: 428px) {
  .about-text {
    margin-bottom: 24px;
  }
  .about-text .about-subtitle {
    font-size: 1rem;
  }
  .about-text h1 {
    margin-bottom: 16px;
    font-size: 32px;
  }
  .about-text p {
    font-size: 1rem;
  }
}

.about-rocket {
  background-color: #e5ebff;
}

.about-space {
  background-color: #f5f1ff;
}
@media screen and (max-width: 428px) {
  .about-space .row {
    flex-direction: column-reverse;
  }
}

.jobs-wrapper {
  height: 592px;
  overflow: scroll;
}
.jobs-wrapper .job-list {
  width: 100%;
}
.jobs-wrapper .job-list .card-job:nth-last-child(1) {
  margin-bottom: 0px;
}
@media screen and (max-width: 428px) {
  .jobs-wrapper {
    height: auto;
  }
}

.card-job {
  display: flex;
  justify-content: space-between;
  padding: 36px;
  margin-bottom: 32px;
  background-color: white;
}
@media screen and (max-width: 428px) {
  .card-job {
    flex-direction: column;
    padding: 16px 20px;
    margin-bottom: 24px;
    background-color: white;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-info .card-title {
  margin-bottom: 12px;
  font-size: 32px;
}
.card-info .card-subtitle {
  color: #9a9a9a;
  font-size: 1.5rem;
}
.card-info ul {
  display: flex;
}
.card-info li {
  margin-right: 12px;
  padding: 8px 16px;
  color: #7f94e2;
  font-size: 1rem;
  border: 2px solid #7f94e2;
  border-radius: 24px;
}
@media screen and (max-width: 428px) {
  .card-info {
    flex-direction: column;
  }
  .card-info .card-title {
    margin-bottom: 8px;
    font-size: 24px;
  }
  .card-info .card-subtitle {
    color: #9a9a9a;
    font-size: 1.5rem;
  }
  .card-info ul {
    margin-bottom: 12px;
  }
  .card-info li {
    margin-right: 8px;
    font-size: 12px;
  }
}

.job-image {
  display: flex;
  justify-content: flex-end;
  padding: 24px 50px 24px 0;
  width: 170px;
  background: #f0f0f0;
}
.job-image img {
  max-width: none;
}
@media screen and (max-width: 428px) {
  .job-image {
    justify-content: center;
    align-items: flex-end;
    margin-top: 136px;
    padding: 0 0 8px 0;
    width: 100%;
    height: 60px;
    border-radius: 12px;
  }
  .job-image img {
    margin-left: 0;
  }
}

footer {
  position: relative;
  bottom: 0;
  padding: 36px 0;
  text-align: center;
}
footer span:nth-child(2) {
  display: none;
}
@media screen and (max-width: 428px) {
  footer {
    padding: 20px;
    line-height: 1.75;
  }
  footer span:nth-child(1) {
    display: none;
  }
  footer span:nth-child(2) {
    display: inline;
  }
}

.btn-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: 2px solid #363636;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  line-height: normal;
  cursor: pointer;
}
.btn-lg span {
  position: relative;
  right: -32px;
  transition: all 0.3s ease;
}
.btn-lg img {
  opacity: 0;
  transition: all 0.3s ease;
}
.btn-lg:hover span {
  transform: translate(-52px);
}
.btn-lg:hover img {
  opacity: 1;
}
@media screen and (max-width: 428px) {
  .btn-lg {
    padding: 20px;
    font-size: 24px;
  }
  .btn-lg span {
    right: 0;
  }
  .btn-lg img {
    display: none;
  }
}

.btn-regist {
  margin-bottom: -1.5em;
  background-color: #e5ebff;
}

.btn-form {
  background-color: #f5f1ff;
}

.example {
  margin-top: 92px;
  margin-bottom: 120px;
  text-align: center;
}
.example .row {
  justify-content: center;
}
.example h2 {
  margin-bottom: 28px;
}
.example ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 28px;
}
.example ul:nth-last-child(1) {
  margin-bottom: 0;
}
@media screen and (max-width: 428px) {
  .example {
    margin-top: 48px;
    margin-bottom: 92px;
  }
  .example .container {
    max-width: 100%;
  }
  .example h2 {
    margin-bottom: 16px;
  }
  .example ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 calc((100% - 332px) / 2);
    width: 100%;
    overflow-y: scroll;
  }
  .example ul li {
    flex-shrink: 0;
    margin-right: 20px;
  }
  .example ul:nth-last-child(1) {
    flex-direction: row-reverse;
  }
}

.bootcamp {
  margin-bottom: 128px;
  background-color: #f8f9fd;
}
.bootcamp .row {
  flex-direction: column;
  align-items: center;
}
.bootcamp .bootcamp-title {
  margin-top: -0.75em;
  margin-bottom: 12px;
  line-height: normal;
}
@media screen and (max-width: 428px) {
  .bootcamp {
    margin-bottom: 84;
  }
  .bootcamp .container {
    max-width: 100%;
  }
}

.bootcamp-time {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  background: white;
  box-shadow: 0px 2px 4px #e8e8e8;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
.bootcamp-time .time-recent {
  padding: 5px 12px 5px 0;
  border-right: 2px solid #f0f0f0;
}
.bootcamp-time div {
  display: inline-block;
  padding-left: 10px;
}
@media screen and (max-width: 428px) {
  .bootcamp-time {
    max-width: 332px;
    font-size: 14px;
  }
  .bootcamp-time div {
    overflow-x: hidden;
  }
  .bootcamp-time div span {
    display: inline-block;
    animation: timeSlide 10s linear infinite;
  }
}

.bootcamp-jobs {
  margin-bottom: 64px;
}
.bootcamp-jobs img {
  margin-left: 40px;
}
.bootcamp-jobs .card-bootcamp-jobs:nth-child(2) img {
  margin-left: 0;
  margin-right: 50px;
}
@media screen and (max-width: 428px) {
  .bootcamp-jobs {
    margin-bottom: 40px;
    width: 100%;
  }
  .bootcamp-jobs img {
    margin: 0 0 24px 0;
    transform: scale(0.76);
  }
  .bootcamp-jobs .card-bootcamp-jobs:nth-child(2) .job-content {
    flex-direction: column;
  }
  .bootcamp-jobs .card-bootcamp-jobs:nth-child(2) img {
    margin: 0;
  }
}

.card-bootcamp-jobs {
  padding: 0 48px 40px 48px;
  margin-top: 80px;
  background-color: white;
  background-image: url("../images/training-bg.png");
  border: 2px solid #f0f0f0;
}
.card-bootcamp-jobs .job-title {
  margin-top: -2em;
  margin-bottom: 32px;
  margin-left: -8px;
}
.card-bootcamp-jobs .job-title h3 {
  display: inline-block;
  padding: 12px 40px;
  background-color: white;
  border: 2px solid #363636;
  box-shadow: 4px 4px 0 0 #363636;
  line-height: normal;
}
.card-bootcamp-jobs .job-content {
  display: flex;
  align-items: center;
}
.card-bootcamp-jobs .job-info .info-title {
  display: inline-block;
  margin-bottom: 16px;
  border-bottom: 3px solid #363636;
}
.card-bootcamp-jobs .job-info .info-item {
  margin-bottom: 36px;
}
.card-bootcamp-jobs .job-info .info-item:nth-last-child(1) {
  margin-bottom: 0;
}
@media screen and (max-width: 428px) {
  .card-bootcamp-jobs {
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
  .card-bootcamp-jobs .job-wrapper {
    margin: 0 auto;
    max-width: 332px;
  }
  .card-bootcamp-jobs .job-title {
    margin-left: 0;
  }
  .card-bootcamp-jobs .job-title span {
    padding: 12px 20px;
    font-size: 20px;
  }
  .card-bootcamp-jobs .job-content {
    flex-direction: column-reverse;
  }
  .card-bootcamp-jobs .job-info .info-title {
    margin-bottom: 16px;
  }
  .card-bootcamp-jobs .job-info .info-item {
    margin-bottom: 24px;
  }
  .card-bootcamp-jobs .job-info .info-item:nth-last-child(1) {
    margin-bottom: 32px;
  }
}

.bootcamp-coaches h2 {
  margin-bottom: 18px;
}
@media screen and (max-width: 428px) {
  .bootcamp-coaches {
    width: 100%;
  }
  .bootcamp-coaches h2 {
    padding: 0 calc((100% - 332px) / 2);
    margin-bottom: 30px;
  }
}

.bootcamp-coach-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.bootcamp-coach-list li {
  padding-top: 20px;
  cursor: pointer;
}
.bootcamp-coach-list li div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 160px;
  background-color: white;
  border: 2px solid #363636;
}
.bootcamp-coach-list li:hover .coach-name {
  transform: translateY(-16px);
  transition: 0.3s;
}
.bootcamp-coach-list li:nth-child(1) div {
  background-color: #e5ebff;
}
.bootcamp-coach-list .coach-name {
  align-self: flex-start;
  padding: 16px 0;
  margin-top: -22px;
  margin-right: 20px;
  width: 48px;
  background-color: white;
  border: 2px solid #363636;
  border-radius: 12px;
  box-shadow: 4px 4px 0 0 #363636;
  line-height: 48px;
  letter-spacing: 0.5em;
  writing-mode: vertical-rl;
  transition: 0.3s;
}
@media screen and (max-width: 428px) {
  .bootcamp-coach-list {
    padding: 0 calc((100% - 332px) / 2);
    margin-bottom: 24px;
    width: 100%;
    overflow-x: scroll;
  }
  .bootcamp-coach-list li {
    flex-shrink: 0;
    margin-right: 28px;
    height: 220px;
    width: 100%;
  }
  .bootcamp-coach-list li div {
    width: 100%;
    height: 200px;
  }
  .bootcamp-coach-list li div img {
    height: 220px;
  }
  .bootcamp-coach-list li:hover .coach-name {
    transform: none;
  }
  .bootcamp-coach-list li:nth-child(1) div {
    background-color: #e5ebff;
  }
  .bootcamp-coach-list li:nth-last-child(1) {
    margin-right: 0;
  }
  .bootcamp-coach-list .coach-name {
    font-size: 18px;
  }
}

.coach-exp .exp-content {
  height: 0px;
  opacity: 0;
  animation: tenkai 0.5s ease;
  animation-fill-mode: forwards;
}
.coach-exp ul {
  margin-top: 12px;
  margin-left: 1.5em;
  margin-bottom: 80px;
  list-style-type: disc;
  line-height: 1.75;
}
@media screen and (max-width: 428px) {
  .coach-exp {
    padding: 0 calc((100% - 332px) / 2);
  }
  .coach-exp ul {
    margin-bottom: 40px;
  }
}

.qna {
  margin-bottom: 128px;
}
.qna ul:nth-child(1) {
  margin-bottom: 80px;
}
@media screen and (max-width: 428px) {
  .qna {
    margin-bottom: 76px;
  }
  .qna ul:nth-child(1) {
    margin-bottom: 48px;
  }
}

.qna-list li {
  display: flex;
  padding: 20px;
  border-width: 2px 0;
  border-bottom: 2px solid #f0f0f0;
}
.qna-list h2 {
  border-bottom: 2px solid #f0f0f0;
}
@media screen and (max-width: 428px) {
  .qna-list h2 {
    border-bottom: 2px solid #f0f0f0;
  }
  .qna-list li {
    display: flex;
    padding: 20px 0px;
  }
}

.qna-number {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: #e5ebff;
  border: 2px solid #363636;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 428px) {
  .qna-number {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}

.qna-content {
  margin-left: 32px;
}
.qna-content div {
  margin-bottom: 8px;
}
@media screen and (max-width: 428px) {
  .qna-content {
    margin-left: 16px;
  }
}

.sponsor-title {
  position: relative;
  bottom: -32px;
}
@media screen and (max-width: 1440px) {
  .sponsor-title {
    text-align: center;
  }
}
@media screen and (max-width: 428px) {
  .sponsor-title {
    bottom: -20px;
  }
}

.sponsor {
  background-color: #f0f0f0;
  overflow-x: scroll;
}
@media screen and (min-width: 1441px) {
  .sponsor {
    overflow-x: auto;
  }
  .sponsor .container {
    display: flex;
    justify-content: center;
  }
  .sponsor ul {
    justify-content: center;
  }
}

.sponsor-list {
  display: flex;
  margin-top: 56px;
  margin-bottom: 40px;
}
.sponsor-list li {
  margin-right: 24px;
}
.sponsor-list li div:nth-last-child(1) {
  margin-top: 8px;
}
.sponsor-list .sponsor-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  height: 148px;
  background-color: white;
  border-radius: 12px;
}
@media screen and (max-width: 428px) {
  .sponsor-list {
    margin-top: 36px;
    margin-bottom: 16px;
    font-size: 14px;
  }
  .sponsor-list li {
    flex-shrink: 0;
    margin-right: 20px;
  }
  .sponsor-list .sponsor-img {
    margin-bottom: 12px;
    height: 120px;
  }
  .sponsor-list .sponsor-img img {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1440px) {
  .sponsor-list li:nth-last-child(1) {
    margin-right: 0;
  }
}

@keyframes timeSlide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes tenkai {
  100% {
    height: 100%;
    opacity: 1;
  }
}
.map {
  padding: 12px;
  height: 420px;
  background-color: white;
}
.map iframe {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 428px) {
  .map {
    height: 332px;
  }
}

.space-display .row {
  flex-direction: column;
  align-items: center;
}
.space-display h2 {
  margin-top: 80px;
  margin-bottom: 60px;
}
@media screen and (max-width: 428px) {
  .space-display h2 {
    margin-top: 48px;
    margin-bottom: 16px;
  }
}

.space-display-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.space-display-content h4 {
  margin-bottom: 24px;
  line-height: normal;
}
@media screen and (max-width: 428px) {
  .space-display-content h4 {
    margin-bottom: 16px;
  }
}

.space-photo {
  margin-bottom: 76px;
}
.space-photo li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.space-photo img {
  padding: 8px;
  width: calc(50% - 24px);
  border: 2px solid #cdcdcd;
}
.space-photo .photo-text {
  width: calc(50% - 24px);
}
.space-photo .photo-text div {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.space-photo .photo-text p {
  color: #757575;
  line-height: 1.5;
}
.space-photo li:nth-of-type(2) {
  flex-direction: row-reverse;
}
.space-photo li:nth-last-child(1) {
  margin-bottom: 0;
}
@media screen and (max-width: 428px) {
  .space-photo {
    margin-bottom: 48px;
  }
  .space-photo li {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .space-photo img {
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
  }
  .space-photo .photo-text {
    width: 100%;
  }
  .space-photo .photo-text div {
    margin-bottom: 8px;
    font-size: 1.25rem;
  }
  .space-photo .photo-text p {
    font-size: 14px;
  }
  .space-photo li:nth-of-type(2) {
    flex-direction: column;
  }
}

.space-service {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.space-service li {
  margin-bottom: 48px;
  width: 340px;
  text-align: center;
}
.space-service li img {
  margin-bottom: 24px;
}
.space-service li span {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 18px;
}
.space-service li p {
  color: #757575;
  font-size: 14px;
}
@media screen and (max-width: 428px) {
  .space-service {
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 40px;
  }
  .space-service li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 28px;
    width: 100%;
    text-align: left;
  }
  .space-service li img {
    margin-bottom: 0;
    margin-right: 16px;
    width: 48px;
  }
  .space-service li p {
    line-height: 1.5;
  }
  .space-service li:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  margin-bottom: 80px;
}
.carousel li {
  flex-shrink: 0;
  margin-right: 24px;
  max-width: 636px;
  width: 49.0740740741%;
}
@media screen and (max-width: 428px) {
  .carousel {
    margin-bottom: 48px;
  }
  .carousel li {
    width: 100%;
  }
}

.plan {
  position: relative;
  background-color: #eee5ff;
}
.plan .row {
  justify-content: center;
}

.plan-wrapper {
  max-width: 100%;
}
.plan-wrapper .plan-info {
  margin-top: 60px;
  margin-bottom: 36px;
}
.plan-wrapper .plan-info h2 {
  margin-bottom: 8px;
}
.plan-wrapper .plan-hint {
  display: inline-block;
  padding: 16px 16px 32px 16px;
  margin-bottom: 12px;
  margin-left: 80px;
  background-image: url("../images/promotion-lg.svg");
  background-repeat: no-repeat;
  text-align: center;
}
.plan-wrapper a {
  margin-bottom: 80px;
}
@media screen and (max-width: 428px) {
  .plan-wrapper .plan-info {
    margin-top: 36px;
    margin-bottom: 20px;
  }
  .plan-wrapper .plan-hint {
    padding: 12px 10px 24px 10px;
    margin-bottom: 16px;
    margin-left: 0;
    width: 100%;
    background-image: url("../images/promotion-sm.svg");
    font-size: 14px;
  }
  .plan-wrapper a {
    margin-bottom: 80px;
  }
}

.plan-list {
  display: flex;
  margin-bottom: 40px;
}
.plan-list .card-plan:nth-child(1) {
  margin-right: 24px;
}
@media screen and (max-width: 428px) {
  .plan-list {
    display: flex;
    margin-bottom: 40px;
    overflow-x: scroll;
  }
  .plan-list .card-plan:nth-child(1) {
    margin-right: 20px;
  }
}

.card-plan {
  flex-shrink: 0;
  padding: 36px 80px;
  background-color: white;
  border: 2px solid transparent;
  text-align: center;
}
.card-plan:hover {
  opacity: 1;
  border: 2px solid #363636;
}
.card-plan div {
  margin-bottom: 20px;
  font-size: 24px;
}
.card-plan h2 {
  padding: 40px 0;
  margin-bottom: 28px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  white-space: nowrap;
}
.card-plan ul {
  text-align: left;
  font-size: 20px;
}
.card-plan li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.card-plan li img {
  margin-right: 16px;
}
@media screen and (max-width: 428px) {
  .card-plan {
    padding: 32px;
  }
  .card-plan div {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .card-plan h2 {
    padding: 20px 40px;
    margin-bottom: 16px;
    width: 100%;
    font-size: 24px;
  }
  .card-plan ul {
    font-size: 16px;
  }
  .card-plan li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .card-plan li img {
    content: url("../images/ic-check-sm.svg");
    margin-right: 12px;
  }
}

.page {
  display: none;
}/*# sourceMappingURL=main.css.map */