.product-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 30px;

  @include lg {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    padding: 0;
  }
}

.product-image {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0 20px;

  height: 315px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  span {
    padding: 10px;

    background-color: $primary;

    color: white;
    letter-spacing: 0.25rem;
    writing-mode: vertical-rl;
  }

  a {
    margin-top: 16px;

    color: $primary;
    font-weight: 700;
  }
}

.product-title {
  display: flex;

  span {
    display: block;
    flex-grow: 1;

    padding: 14px 0;
    border: 1px solid $secondary;

    color: $primary;
    font-size: 20px;
    text-align: center;
  }

  span:last-child {
    font-weight: 500;
  }
}

.product-btn {
  padding: 16px 0;
  width: 100%;

  background-color: $secondary;

  color: $primary;
  font-size: 24px;
  font-weight: 500;

  cursor: pointer;

  transition: 0.3s;

  &:hover {
    background-color: $yellow;
  }
}
