@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans;
  }

  a {
    @apply duration-300 hover:text-secondary;
  }

  table * {
    vertical-align: top;
  }

  th {
    font-weight: 400;
  }
}

@layer components {
  .box {
    @apply max-w-[1110px];
  }
  .transport-item {
    @apply after:absolute after:top-[107%] after:right-[48.5%] after:border-[10px] after:border-black after:border-l-[10px] after:border-l-transparent after:border-r-[10px] after:border-r-transparent after:border-b-[10px] after:border-b-transparent md:after:top-[30%] md:after:right-[-47%] md:after:border-t-transparent md:after:border-l-black flex flex-col items-center relative;
  }
}

.recommendation_wall::-webkit-scrollbar {
  display: none;
}

.recommendation_wall {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.recommendation_wall .active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 4px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotation 2s ease-in-out infinite alternate;
}
.loader::after {
  border-color: #6a33ff;
  animation-direction: alternate-reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
